//====================MEDIA=BREAKPOINTS==================//
$breakpoint_xxl:1200px; // Desktop
$breakpoint_xl:980px; // Laptop
$breakpoint_md:720px; // Tablet
$breakpoint_sm:540px; // Mobile



$white : #fff;
$black : #000;
$blue : #6e9bca;
$blue-hover : #1a73c4;
$dark-gray : #373645;
$dark-gray-hover : #58587a;
$light-black : #55565b;
$gray : #ccc;
$turquoise : #2fc2a4;
$purple : #a466bb;
$orange : #ee7a6f;
$dark-orange : #b53912;
$light-blue : #3cb1e2;
$light-sky : #3cdfcb;
$but-search-new : #67bfdc;
