@import "../../mixins";
@import "../../variables";
@import "../../media-breakpoints";

@include laptop {
  .node--type-contact {
    .node__content {
      .layout--onecol {
        .layout__region--content {
          .block-field-blocknodecontacttitle {
            margin-top: 170px;
          }
        }
      }
      .layout--twocol-section--50-50 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .layout__region--first {
          width: 100%;
        }
        .layout__region--second {
          width: 100%;
        }
      }
    }
  }
}

@include mobile {
  .node--type-contact  {
    .node__content {
      .layout--twocol-section--50-50 {
        .layout__region--second {
          .block-field-blocknodecontactbody {
            .field--type-text-with-summary {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
