@import "../mixins.scss";
@import "../variables.scss";
@import "../media-breakpoints.scss";

@import "../mixins.scss";
@import "../variables.scss";
@import "../media-breakpoints.scss";

@media (max-width: 1800px) {
  header {
    .region-header {
      nav {
        ul {
          li {
            margin-left: 10px;
          }
        }
      }
      .search-block-form {
        form {
          .form-type--search {
            .form-element--type-search {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1670px) {
  header {
    width: 80%;
    top: 25px;
    left: 10%;
    .region-header {
      .block-system-branding-block {
        padding: 0 20px;
        .site-name {
          a {
            font-size: 33px;
          }
        }
        .site-slogan {
          font-size: 12px;
        }
      }
      nav {
        width: 47%;
        ul {
          width: 100%;
          justify-content: space-between;
          li {
            a {
              padding-bottom: 38px;
              font-size: 12px;
            }
          }
        }
      }
      .search-block-form {
        form {
          .form-type--search {
            .form-element--type-search {
              width: 120px;
            }
          }
        }
      }
    }
  }
}

@include desktop {
  header {
    .region-header {
      justify-content: flex-end;
      .block-system-branding-block {
        margin-right: auto;
      }
      .burger-menu {
        display: block;
        margin-right: 20px;
      }
      .block-social-media-links-block ul {
        width: 130px;
      }
    }
  }
}

@include laptop {
  header {
    height: 90px;
    .region-header {
      .burger-menu {
        margin-right: 12px;
      }
      .block-social-media-links-block ul {
        width: 120px;
      }
      nav {
        ul {
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@include tablet {
  header {
    .region-header {
      .block-system-branding-block {
        .site-name {
          a {
            font-size: 32px;
          }
        }
      }
      .burger-menu {
        order: 3;
        margin-right: 20px;
      }
      .search-block-form {
       order: 2;
      }
      div.popup.see {
        .block-social-media-links-block.replace ul {
          margin: 0;
          width: auto;
        }
      }
    }
  }
}

@include mobile {
  header {
    height: 100px;
    .region-header {
      flex-wrap: wrap;
      justify-content: center;
      .block-system-branding-block {
        padding: 15px;
        width: 100%;
        height: 50px;
        float: left;
        margin-right: 0;
        .site-name {
          a {
            font-size: 28px;
          }
        }
        .site-slogan {
          font-size: 10px;
        }
      }
      .search-block-form {
        margin-right: 0;
        height: 50px;
        form {
          height: 100%;
          .form-type--search {
            margin: 0;
            input {
              min-height: 2.5rem;
              padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
            }
          }
          .form-actions {
            .search-form__submit {
              margin: 0;
              height: 40px;
              width: 40px;
            }
          }
        }
      }
      div.popup.see {
        width: 200px;
        padding-top: 100px;
      }
    }
  }
}
