@import "../../mixins";
@import "../../variables";
@import "../../media-breakpoints";

@include laptop {
  .node--type-article {
    .node__content {
      .layout__region--content {
        display: flex;
        flex-direction: column;
        text-align: center;
        .block-field-blocknodearticlefield-image {
          order: 1;
          .field--name-field-image {
            float: none;
            margin-top: 250px;
          }
        }
        .block-field-blocknodearticletitle {
          margin: 0;
          order: 2;
        }
        .block-field-blocknodearticlebody {
          order: 3;
        }
        .block-field-blocknodearticlefield-article-content {
          order: 4;
        }
      }
    }
  }
}

@include mobile {
  .node--type-article {
    .node__content {
      padding-bottom: 50px;
      .layout__region--content {
        .block-field-blocknodearticlefield-image {
          .field--name-field-image {
            margin-top: 200px;
            padding: 0 70px 70px 70px;
            img {
              transform: scale(1.5);
            }
          }
        }
        .block-field-blocknodearticletitle {
          .field--name-title {
            font-size: 20px;
          }
        }
        .block-field-blocknodearticlebody {
          margin-top: 30px;
          p {
            font-size: 20px;
          }
        }
        .block-field-blocknodearticlefield-article-content {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
